@media only screen and (min-width: 1167px) and (max-width: 1920px) {
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
      }
      body {
        font-family: Arial, sans-serif;
      }
      
      
    .z99{
        text-decoration: none;
        color: white;
 
         text-decoration: none;
    }
    .child-11:hover{
        scale: 0.9;
        transition: 0.5s;
    }
    .-child:hover{
        scale: 0.9;
        transition: 0.5s;
    }
    .child54:hover{
        scale: 0.9;
        transition: 0.5s;
    }
    .child21:hover{
        scale: 0.9;
        transition: 0.5s;
    }
    .child-4:active{
        scale: 1.1
        ;
        transition: 0.5s;
    }
    .z20:hover{
        scale: 1.2;
        transition: 0.5s;
    }
    .z21:hover{
        scale: 1.2;
        transition: 0.5s;
    }
    .child8:hover{
        color: #651FFF;
        transition: 0.5s;
    }
    .z8:hover{
        scale: 1.1;
        transition: 0.2s;
    }
    .z6:hover{
        scale: 1.1;
        transition: 0.2s;
    }
    .child00{
        color: #838696;
        text-decoration: none;
    }
    .child00000{
        color: #838696;
        text-decoration: none;
    }
    .child85{
        color: #838696;
        text-decoration: none;
    }
    .header1{
        width: 100%;
        height: 49px;
        display: flex;
        box-sizing: border-box;
    }
    .z1{
        height: 100%;
        width: 170px;
        box-sizing: border-box;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .z2:hover{
        scale: 1.1;
        transition: 0.2s;
    }
    .z2{
        height: 20px;
        width: 140px;
    }
    .z3{
        margin-left: 100px;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
      
        display: flex;
        
        align-items: center;
        gap: 40px;
    }
    .z5{
        height: 100%;
        width: 550px;
        box-sizing: border-box;
        
        display: flex;
        align-items: center;
        margin-left: 100px;
        gap: 10px;
    
    }
    .z6{
        width: 112px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid rgb(0, 0, 0) 2px;
        border-radius: 12px;
    }
    .z7{
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    .z8{
        width: 182px;
        height: 24px;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #651FFF;
    }
    .z9{
        text-decoration: none;
        color: white;
    }
    .z11{
        width: 100%;
        height: 850px;
        background-image: url(Group\ \(2\).png);
        display: flex;
    }
    
    .z12{
        width: 35%;
        height: 550px;
        
        margin-left: 200px;
        margin-top: 200px;
    }
    
    .z13{
        font-size: 50px;
        color: white;
    }
    .span1{
        color: #00E5FF;
    }
    .z19{
    width: 100%;
    height: 48px;
    display: flex;
    gap: 150px;
    }
    .a4{
        width: 600px;
        height: 600px;
        margin-left: 100px;
        margin-top: 150px;
    }
    .z21{
        width: 175px;
        height: 48px;
        border-radius: 12px;
       border: solid white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .z23{
        text-decoration: none;
       color: white;

        text-decoration: none;
    }
    .z20{
        width: 175px;
        height: 48px;
        border-radius: 12px;
        background-color: #651FFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .div1{
        box-sizing: border-box;
        width: 100%;
        height: 200px;
       
        padding-left: 20%;
    }
    .child2{
        color: #5C5F6E;
        width: 90%;
    }
    .div2{
        box-sizing: border-box;
        width: 100%;
        height: 600px;
       
        display: grid;
        grid-template-rows: 280px 592px;
        grid-template-columns: 677px 517px;
        padding-left:   100px;
        gap: 10px;
        
    }
    .child3{
        padding: 15px;
        width: 677px;
        height: 280px;
        border-radius: 24px;
        background-color: rgba(255, 255, 255, 0.307);
        box-sizing: border-box;
        display: flex;
        gap: 50px;
        background-color: #eeeff4;
    }
    
    
    .child4{
        padding: 15px;
        width: 677px;
        height: 280px;
        border-radius: 24px;
        background-color: rgba(255, 255, 255, 0.307);
        grid-row: 2;
        display: flex;
        gap: 20px;
        background-color: #eeeff4;
    }
    .child5{
        padding: 15px;
        width: 417px;
        height: 592px;
        border-radius: 24px;
        background-color: #eeeff4;
    }
        
    
    .child6{
        width: 40%;
        height: 100%;
    }
    .child7{
        font-size: 28px;
        font-weight: 700;
     
    }
    .child8{
        color: #838696;
        text-decoration: none;
    }
    .child9{
        width: 50%;
        height: 100%;
      display: flex;
      align-items: center;
        justify-content: center;
        
        
    }
    .child10{
        width: 40%;
        height: 100%;
    }
      .imgt5{
        width:50%;
        object-fit: contain;
        
       
      }
    .child0000{
        color: #838696;
        text-decoration: none;
    }
    
    .child11{
        width: 60%;
        height: 100%;
       
    }
    .img1{
        width: 50%;
        height: 50%;
        margin-left: 100px;
        margin-top: 80px;
    }
    .child12{
        width: 100%;
        height: 30%;
        
    }
    .child13{
        width: 100%;
        height: 40%;
    }
    .img3{
        margin-top: 20px;
    
    
    }
    .carousel1{
        display: flex;
        justify-content: center;
        height: 400px;
    }
    .main1{
        background-color:#E0F7FA ;
        width: 100%;
       justify-content: center;
        display: flex;
        height: 610px;
        display: flex;
        align-items: center;
    
    
    }
    .child14{
        width: 100%;
        height: 100%;
    
      display: flex;
      justify-content: center;
      align-items: center;
    
    }
    .child15{
        
       
    
    }
    .img4{
    
        width: 400px;
        height: 400px;
    
    }
    .child16{
        width: 100%;
        display: flex;
        justify-content: center;
    }  


    .child17{
        
        font-size: 28px;
        font-weight: 700;
        font-weight: 700;
    
    
    }
        
        .child18{
         
            color:#838696 ;
    
        font-size: 15px;
        }
        .child19{
            width: 100%;
            display: flex;
            justify-content: center;
            
            height: 700px;
            gap: 50px;
    
        }
        .child20{
            width: 100%;
            display: flex;
            justify-content: center;
           
        }
        .child21{
            width: 546px;
            height: 644px;
            padding-left: 50px;
    
            background-color: #ECECFE ;
            border-radius: 24px;
            padding-left: 50px;
    
            width: 546px;
            height: 694px;
    
           
        }
        .div22{
    padding: 1;
    
        }
        .child25{
            color:#838696 ;
            width:70%;
           
            font-size: 20px;
    
        }
        .child26{
            font-size: 48px;
            font-weight: 700;
    
        }
        .child27{
            width: 100%;
            height: 80px;
            height: 60%;
    
            
        }
        .img66{
    
        }
        .child38{
            width:100%;
           height: 20px;
           height: 80px;
    
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        .child40{
            color:#838696 ;
            font-size: 20px;
    
            font-size: 10px;
        }
        .child41{
            width: 100%;
            
            height: 600px;
    justify-content: center;
            display: flex;
           
            
        }
    
        .child42{
            width: 30%;
            height: 100%;
            margin-left: 50px;
    
           
        }
        .child43{
            width: 100%;
            height: 30%;
            
            
        }
        .child44{
            width: 40px;
            height: 40px;
    
            background-color: #651FFF;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
        }
        .img50{
            width: 30px;
            height: 30px;
        
        }
        .child45{
            height: 40px;
    
            
        }
        .child45{
            width: 100%;
            height: 40%;
            display: flex;
           
            align-items: center;
            gap: 10px;
    
        }
        .child46{
            width: 100%;
            height: 60%;
    
        }
        .group1{
            margin-left: 240px;
            width: 200px;
   
           
         
            z-index: 1;
          position: absolute;
        }
        .group2{
            
           margin-top: 300px;
           width: 300px;
           height: 300px;
    
    
          
           margin-left: 300px;
    
          
          z-index: 2;
         
            position: absolute;
           
        }
        .hhd{
            height: 100%;
            width: 50%;
            display: flex;
           
            position: relative;
        }
        .group3{
            width: 240px;
            height: 110px;
            margin-left: 500px;
        }
        .child50{
            width: 100%;
    height: 60px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
        }
        .child51{
            color:#838696 ;
          
            font-size: 10px;
        }
        .child53{
            width: 100%;
            height: 100px;
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 100px;
        }
        .formm{
            width: 70%;
            height: 500px;
          display: flex;
          align-items: center;
          justify-content: center;
            margin-top: 500px;
            margin-left: 14%;
            border-radius: 14px;
            background-color: #651FFF;

        }
        #dd{
            width: 90%;
            height: 100%;
            padding-top: 15%;
        }
        .child54{
            padding: 10px;
            width: 300px;
            height: 180px;
            border-radius: 24px;
            background-color:#ECECFE ;
        }
        .child55{
            width: 20px;
            height: 20px;
            background-color: #651FFF;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px;
        }
        .child57{
            width: 80%;
            height: 60%;
            
            padding-left: 5px;
        }
        .ddd{
            color: whitesmoke;
        }
    .child660{
        width: 100%;
        height: 800px;
        margin-top: 50px;
        display: flex;
    
    }
    .child61{
        width: 50%;
        height: 100%;
       
        margin-left: 150px;
    }
    .child62{
        width: 100%;
        height: 30%;
    
    }
    .child65{
        width: 100%;
        height: 30%;
    gap: 40px;
     display: flex;
    }
    
    .child66{
        width: 60%;
        height: 100%;
        
      
    }
    .ddd{
        margin-top: 14px;
    }
    .child68{
        background-color: #651FFF;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .child67{
        width: 40%;
        height: 100%;
       
    
    }
    .child70{
        width: 40%;
        height: 100%;
    }
    .child-1{
        padding-left: 200PX;
        width: 20%;
        height: 100%;
    }
    .child0{
        width: 100%;
        height: 140px;
      
        display: flex;
      margin-bottom: 150px;
       
        
    
    }
    .child-1{
        padding-left: 200PX;
        width: 100%;
        height: 60PX;
    }
        
    
    .child-4{
        width: 100px;
        height: 40px;
        background-color: #651FFF;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .a1{
        color: white;
        text-decoration: none;
        font-size: 10px;
    }
    .child-5{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .child-7{
        width: 100%;
        height: 187px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        gap: 40px;
        justify-content: center;
    }
    .child-11{
        background-color: #E0F7FA;
        border-radius: 24px;
        width: 536px;
        height: 297px;
        padding: 20px;
    }
    .child-9{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #00E5FF;
    }
    
    
      
    
        
    
    .pen1{
        width: 10px;
        height: 10px;
    }
    .color1{
        color: #00E5FF;
        font-size: 28px;
        font-weight: 700;
      
       
    }
    .color2{
        color: #00E5FF ;
        width: 150px;
    }
    .color3{
        color: #00E5FF ;
        text-decoration: none;
    }
    .color3:hover{
        text-decoration: underline;
    }
    
    
    .ve{
        width: 80%;
        margin-top: 35%;
    }
    .-child{
        width: 536px;
        height: 297px;
        background-color: #ECECFE;
        border-radius: 24PX;
        padding: 20PX;
    }
    .-child1{
    background-color: #651FFF;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .-child2{
    color: #651FFF;
    font-size: 28px;
    font-weight: 700;
    }
    .-child3{
        color: #651FFF;
        width: 150px;
    }
    .-child4{
        color: #651FFF;
        text-decoration: none;
    
    }
    .-child4:hover{
        text-decoration: underline;
    
    }
    .footer1{
        background-color: #1A284E;
        width: 100%;
        height:100%;
        margin-top: 200px;
        display: flex;
        align-items: center;
    }
    
    .footer2{
        width: 30%;
        height: 100%;
        
        padding: 10px;
        padding-top: 10px;
    }
    .footer3{
        color: white;
        font-size: 20px;
    }
    .footer4{
        color: white;
    }
    .footer5{
        margin-top: 10px;
    }
    .footer6{
        color: white;
        margin-top: 10px;
    }
    .footer7{
    width: 30%;
    height: 100%;
    
    display: flex;
    gap: 200px;
    }
    .footer8{
       width: 50%; 
       height: 100%;
     
       
       
       
    }
    .footer9{
        width: 50%; 
        height: 100%;
       
        padding: 10px;
     
     }
    .xc{
        text-decoration: none;
        color: white;
        display: block;
        
    }
    .color11{
        width: 60px;
        height: 15px;
        margin-left: 700px;
        position: absolute;
        margin-top: 450px;
    }
    
    
  }
  .exampleCheck1{
    color: white;
  }
.my-form {
    max-width: 400px;
    margin-left: 200px;
   height: 100%;

  }
  .form-label{
    color: white;
  }
  .form-text{
    color: white;
  }
  .form-control {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  
  .form-check-input {
    margin-top: 0.3rem;
  }
  
  
  .btn {
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #007bff;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #0056b3;
  }
  .form-check-label{
    color: #ffffff;
  }


            
@media (max-width:600px) {
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .header1{
       
        width: 100%;
        height: 20px;
        display: flex;
        box-sizing: border-box;
        align-items: center;
    }
    .formm{
        width: 70%;
        height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
        margin-top: 100px;
        margin-left: 14%;
        border-radius: 14px;
        background-color: #651FFF;

    }
    .child-11:hover{
        scale: 0.9;
        transition: 0.5s;
    }
    .-child:hover{
        scale: 0.9;
        transition: 0.5s;
    }
    .child54:hover{
        scale: 0.9;
        transition: 0.5s;
    }
    .child21:hover{
        scale: 0.9;
        transition: 0.5s;
    }
    .child-4:active{
        scale: 1.1
        ;
        transition: 0.5s;
    }
    .z20:hover{
        scale: 1.2;
        transition: 0.5s;
    }
    .z21:hover{
        scale: 1.2;
        transition: 0.5s;
    }
    .child8:hover{
        color: #651FFF;
        transition: 0.5s;
    }
    .z8:hover{
        scale: 1.1;
        transition: 0.2s;
    }
    .z6:hover{
        scale: 1.1;
        transition: 0.2s;
    }
    .z1{
        height: 100%;
        width: 30%;
        box-sizing: border-box;
       
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .z2{
        width: 80%;
        object-fit: cover;
    
    }
    .z3{
        width: 100%;
        height: 80%;

gap: 5px;
align-items: center;
display: flex;
       
    }
    .child8{
        color: #838696;
        text-decoration: none;
        font-size: 4px;
        vertical-align: middle;
    }
    .z6{
        width: 10%;
        height: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid black 2px;
        border-radius: 12px;
    }
    .z7{
        text-decoration: none;
        color: black;
        font-size: 2px;
    }
    .z8{
        width: 10%;
        height: 10px;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #651FFF;
    }
    .z9{
        text-decoration: none;
        color: white;
        font-size: 2px;
    }
    .z11{
        width: 100%;
        height: 150px;
        background-image: url(Group\ \(2\).png);
        display: flex;
        margin-top: 10px;
    }
    .z12{
        width: 35%;
        height: 100%;
       
       padding-top: 10%;
    }
    .z13{
        font-size: 10px;
        color: white;
    }
    .span1{
        color: #00E5FF;
    }
    .child00{
        color: #838696;
        text-decoration: none;
        font-size: 3px;
    }
    .z19{
        width: 100%;
        height: 48px;
        display: flex;
        gap: 10px;
        }
        .z21{
            width: 40%;
            height: 10%;
            border-radius: 12px;
           border: solid white 2px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .z23{
            text-decoration: none;
           color: white;
    font-size: 5px;
            text-decoration: none;
        }
        .z20{
            width: 40%;
            height: 10%;
            border-radius: 12px;
            background-color: #651FFF;
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid #651FFF 2px; 
        }
        .z99{
            text-decoration: none;
            color: white;
     font-size: 5px;
             text-decoration: none;
        }
        .div1{
            box-sizing: border-box;
            width: 100%;
            height: 80px;
           display: flex;
           justify-content: center;
           flex-direction: column;
           padding-left: 5%;
           
            margin-top: 30px;
        }
.chilld1{
    font-size: 12px;
}
.child2{
    color: #5C5F6E;
   font-size: 8px;
}
.div2{
    box-sizing: border-box;
    width: 100%;
    height: 200px;
   justify-content: center;
    display: grid;
    grid-template-rows:110px 220px ;
    grid-template-columns:120px  120px ;
    gap: 10px;
    
    
}

.child3{
    padding: 10px;
    width: 120px;
    height: 110px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.307);
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    background-color: #eeeff4;
}


.child5{
    padding: 10px;
    width: 120px;
    height: 110px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.307);
  
    display: flex;
    gap: 20px;
    background-color: #eeeff4;
}
.child4{
    padding: 10px;
    width: 120px;
    height: 220px;
    border-radius: 12px;
    background-color: #eeeff4;
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
}
.child6{
    width: 50%;
    height: 100%;
}
.child7{
    font-size: 12px;
    font-weight: 100;
 
}
.child85{
    color: #838696;
    font-size: 3px;
}
.child9{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
  
    
    
}

  .imgt5{
    width: 100%;
    object-fit: contain;
    
   
  }
.img1{
    width: 50%;
    object-fit: contain;
}
.img3{
    width: 100%;
    object-fit: contain;

}
.child10{
    width: 100%;
    height: 100%;
}
.child0000{
    color: #838696;
    text-decoration: none;
    font-size: 7px;
    
}
.child00000{
    color: #838696;
    text-decoration: none;
    font-size: 3px;
}
.child11{
    width: 100%;
    height: 40%;
   
   display: flex;
   justify-content: center;
   
}
.child13{
    width: 60%;
    height: 100%;
    
    display: flex;
    align-items: center;
}
.child12{
    width: 50%;
    height: 100%;
    
}
.main1{
    
    width: 100%;
   justify-content: center;
    display: flex;
    height: 110px;
    display: flex;
    align-items: center;
margin-top: 50px;

}
.card{
    width: 30px;
}


.child16{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}  
.child18{
         
    color:#838696 ;

font-size: 8px;
}
.child20{
    width: 100%;
    display: flex;
    justify-content: center;
   
}
.child19{
    width: 100%;
    display: flex;
    justify-content: center;
    
    height: 200px;
    gap: 10px;

}
.child21{
    width: 140px;
    height: 200px;
    padding-left: 10px;

    background-color: #ECECFE ;
    border-radius: 24px;
    

    

   
}
.div22{
padding:5px;


}
.child25{
    color:#838696 ;
    width:70%;
   
    font-size: 5px;

}
.child26{
    font-size: 10px;
    font-weight: 100;

}
.child27{
    width: 100%;
    height: 80px;
    height: 60%;

    
}
.img66{
    width: 100%;
    object-fit: contain;
    height: 80%;
}
.child38{
    width:100%;
   height: 20px;
margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.child41{
    width: 100%;
    margin-top: 80px;
    height: 200px;

    display: flex;
    gap: 40px;
   
    
}

.child42{
    width: 30%;
    height: 100%;
    margin-left: 10px;

   
}
.child43{
    width: 100%;
    height: 30%;
    
    
}
.child45{
    width: 100%;
    height: 40%;
    display: flex;
   
    align-items: center;
    gap: 5px;

}
.child44{
    width: 10px;
    height: 10px;

    background-color: #651FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.img50{
    width: 10px;
    height: 10px;

}
.child7{
    font-size: 10px;
    font-weight: 100;
 
}
.child8{
    color: #838696;
    text-decoration: none;
}
.group1{
    margin-left: 0px;
    width: 80px;

   
 height: 20%;
    z-index: 1;
  position: absolute;
}
.group2{
    
   margin-top: 90px;
   width: 100px;
   height: 100px;


  
   margin-left: 40px;

  
  z-index: 2;
 
    position: absolute;
   
}
.group3{
    width: 70px;
    height: 50px;
    margin-left: 80px;
}
.child40{
    color:#838696 ;
    font-size: 5px;

    
}
.child50{
    width: 100%;
height: 20px;

display: flex;
justify-content: center;
align-items: center;

}
.hhd{
   
}
.child51{
    color:#838696 ;
  
    font-size: 6px;
}
.child53{
    width: 100%;
    height: 40px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.child54{
    width: 100px;
    height: 130px;
    border-radius: 14px;
    background-color:#ECECFE ;
}
.child55{
    width: 10px;
    height: 10px;
    background-color: #651FFF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    
}
.ddd{
  width: fit-content;
  font-size: 6px;
  margin-top: 15px;
}
.child57{
    width: 80%;
    height: 60%;
    
    padding-left: 5px;
}
.child660{
    width: 100%;
    height: 400px;
    margin-top: 50px;
    display: flex;
    padding-left: 10%;

}
.child61{
    width: 50%;
    height: 100%;
   
    
}
.child62{
    width: 100%;
    height: 30%;

}
.child25{
    color:#838696 ;
    width:70%;
   
    font-size: 5px;

}
.child26{
    font-size: 10px;
    font-weight: 100;

}
.child65{
    width: 100%;
    height: 30%;
gap: 10px;
 display: flex;
}

.child66{
    width: 60%;
    height: 100%;
    
  
}
.child68{
    background-color: #651FFF;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child67{
    width: 40%;
    height: 100%;
   

}
.ve{
    width: 110px;
}
.child70{
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}
.child0{
    width: 100%;
    height: 70px;
 justify-content: center;
    display: flex;
  margin-bottom: 50px;
 
    

}
.child-1{
    padding-left: 50PX;
    width: 100%;
   height: 100%;
   display: flex;
  flex-direction: column;
    
}
.child-4{
    width: 50px;
    height: 20px;
    background-color: #651FFF;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  
}

.a1{
    color: white;
    text-decoration: none;
    font-size: 6px;
}
.child-5{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child-7{
    width: 100%;
    height: 87px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.child-11{
    background-color: #E0F7FA;
    border-radius: 14px;
    width: 130px;
    height: 110px;
    padding: 10px;
}
.child-9{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00E5FF;
}
.pen1{
    width: 5px;
    height: 5px;
}
.color1{
    color: #00E5FF;
    font-size: 8px;
    font-weight: 100;
  
   
}
.color2{
    color: #00E5FF ;
    font-size: 5px;
}
.color3{
    color: #00E5FF ;
    text-decoration: none;
    font-size: 5px;
}
.color3:hover{
    text-decoration: underline;
}
.-child{
    width: 130px;
    height: 110px;
    background-color: #ECECFE;
    border-radius: 14PX;
    padding: 10PX;
}
.-child1{
background-color: #651FFF;
width: 10px;
height: 10px;
border-radius: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.-child1{
    background-color: #651FFF;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .-child2{
    color: #651FFF;
    font-size: 10px;
    font-weight: 100;
    }
    .-child3{
        color: #651FFF;
      
        font-size: 4px;
    }
    .-child4{
        color: #651FFF;
        text-decoration: none;
        font-size: 4px;
        text-decoration: none;
    
    }
    .-child4:hover{
        text-decoration: underline;
    
    }
    .footer1{
        background-color: #1A284E;
        width: 100%;
        height:100%;
       margin-top: 40px;
        display: flex;
        align-items: center;
    }
    .footer2{
        width: 30%;
        height: 100%;
        
        
        
    }
    .footer3{
        color: white;
        font-size: 10px;
    }
    .footer4{
        color: white;
        font-size: 8px;
    }
    .footer5{
      width: 120px;
      height: 30px;
    }
    .footer6{
        color: white;
      
    }
    .footer6{
        color: white;
        font-size: 8px;
    }
    .footer7{
    width: 50%;
    height: 100%;
   margin-left: 30px;
    display: flex;
    margin-bottom: 55px;
    gap: 10px;
    
    }
    .footer8{
       width: 50%; 
       height: 100%;
     
       
       
       
    }
    .xc{
        text-decoration: none;
        color: white;
        display: block;
        font-size: 8px;
       
    }
    
}
@media (min-width: 600px) and (max-width: 920px) {
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .formm{
        width: 70%;
        height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
        margin-top: 100px;
        margin-left: 14%;
        border-radius: 14px;
        background-color: #651FFF;

    }
    .child-11:hover{
        scale: 0.9;
        transition: 0.5s;
    }
    .-child:hover{
        scale: 0.9;
        transition: 0.5s;
    }
    .child54:hover{
        scale: 0.9;
        transition: 0.5s;
    }
    .child21:hover{
        scale: 0.9;
        transition: 0.5s;
    }
    .child-4:active{
        scale: 1.1
        ;
        transition: 0.5s;
    }
    .z20:hover{
        scale: 1.2;
        transition: 0.5s;
    }
    .z21:hover{
        scale: 1.2;
        transition: 0.5s;
    }
    .child8:hover{
        color: #651FFF;
        transition: 0.5s;
    }
    .z8:hover{
        scale: 1.1;
        transition: 0.2s;
    }
    .z6:hover{
        scale: 1.1;
        transition: 0.2s;
    }
    .header1{
        width: 100%;
        height: 30px;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        
    }
    .formm{
        width: 70%;
        height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
        margin-top: 100px;
        margin-left: 14%;
        border-radius: 14px;
        background-color: #651FFF;

    }
    .z1{
        height: 100%;
        width: 30%;
        box-sizing: border-box;
     
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .z2{
        width: 80%;
        object-fit: cover;
    
    }
    .z3{
        width: 100%;
        height: 80%;
        
gap: 15px;
align-items: center;
display: flex;
       
    }
    .child8{
        color: #838696;
        text-decoration: none;
        font-size: 8px;
        vertical-align: middle;
    }
    .z6{
        width: 10%;
        height: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid black 2px;
        border-radius: 12px;
    }
    .z7{
        text-decoration: none;
        color: black;
        font-size: 8px;
    }
    .z8{
        width: 10%;
        height: 10px;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #651FFF;
    }
    .z9{
        text-decoration: none;
        color: white;
        font-size: 8px;
    }
    .z11{
        width: 100%;
        height: 350px;
        background-image: url(Group\ \(2\).png);
        display: flex;
    }
    .z12{
        width: 35%;
        height: 100%;
       
       padding-top: 10%;
    }
    .z13{
        font-size: 30px;
        color: white;
    }
    .span1{
        color: #00E5FF;
    }
    .child00{
        color: #838696;
        text-decoration: none;
        font-size: 8px;
    }
    .z19{
        width: 100%;
        height: 48px;
        display: flex;
        gap: 10px;
        }
        .z21{
            width: 40%;
            height: 40%;
            border-radius: 12px;
           border: solid white 2px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .z23{
            text-decoration: none;
           color: white;
    font-size: 8px;
            text-decoration: none;
        }
        .z20{
            width: 40%;
            height: 40%;
            border-radius: 12px;
            background-color: #651FFF;
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid #651FFF 2px; 
        }
.z99{
    color: white;
    font-size: 8px;
    text-decoration: none;
}
.div1{
    box-sizing: border-box;
    width: 100%;
    height: 80px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   padding-left: 5%;
   
    margin-top: 30px;
}
.chilld1{
font-size: 20px;
}
.child2{
color: #5C5F6E;
font-size: 10px;
}
.div2{
    box-sizing: border-box;
    width: 100%;
    height: 200px;
   justify-content: center;
    display: grid;
    grid-template-rows:140px 300px ;
    grid-template-columns:220px  220px ;
    gap: 20px;
    
    
}
.child3{
    width: 220px;
    height: 150px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.307);
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    background-color: #eeeff4;
}


.child5{
    width: 220px;
    height: 300px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.307);
  flex-direction: column;
    display: flex;
    gap: 10px;
    background-color: #eeeff4;
}
.child4{
    width: 220px;
    height: 150px;
    border-radius: 12px;
    background-color: #eeeff4;
    grid-row: 2;
    grid-column: 1;
    display: flex;
    
}
.child6{
    width: 50%;
    height: 100%;
}
.child7{
    font-size: 20px;
    font-weight: 100;
 
}
.child85{
    color: #838696;
    font-size: 7px;
}
.child9{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
  
    
    
}

  .imgt5{
    width: 100%;
   
      
   
  }
.img1{
    
    object-fit: contain;
    width: 100%;
    
    
}
.img3{
    width: 100%;
    object-fit: contain;

}
.child10{
    width: 100%;
    height: 100%;
}
.child0000{
    color: #838696;
    text-decoration: none;
    font-size: 6px;
    
}
.child00000{
    color: #838696;
    text-decoration: none;
    font-size: 6px;
}
.child11{

    width: 40%
    ;
height: 100%;
display: flex;
align-items: center;

}
.child16{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}  
.child20{
    width: 100%;
    display: flex;
    justify-content: center;
   
}
.child19{
    width: 100%;
    display: flex;
    justify-content: center;
    
    height: 400px;
    gap: 10px;

}
.child18{
         
    color:#838696 ;

font-size: 10px;
}
.child21{
    width: 240px;
    height: 350px;
    padding-left: 10px;

    background-color: #ECECFE ;
    border-radius: 24px;
    

    

   
}
.div22{
padding:5px;


}
.child25{
    color:#838696 ;
    width:70%;
   
    font-size: 8px;

}
.child26{
    font-size: 13px;
    font-weight: 100;

}
.img66{
    width: 100%;
    object-fit: contain;
    height: 70%;
}
.child38{
    width:100%;
   height: 50px;


    display: flex;
    justify-content: center;
    align-items: center;
    

}
.child41{
    width: 100%;
    margin-top: 100px;
    height: 300px;
justify-content: center;
    display: flex;
    gap: 50px;
   
    
}

.child42{
    width: 30%;
    height: 100%;
    margin-left: 10px;

   
}
.child43{
    width: 100%;
    height: 30%;
    
    
}
.child45{
    width: 100%;
    height: 40%;
    display: flex;
   
    align-items: center;
    gap: 10px;

}
.child44{
    width: 20px;
    height: 20px;

    background-color: #651FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.img50{
    width: 20px;
    height: 20px;

}
.child7{
    font-size: 20px;
    font-weight: 300;
 
}
.child8{
    color: #838696;
    text-decoration: none;
}
.group1{
    margin-left: 0px;
    width: 130px;

   
 height: 25%;
    z-index: 1;
  position: absolute;
}
.group2{
    
   margin-top: 150px;
   width:170px;
   height: 100px;


  
   margin-left: 40px;

  
  z-index: 2;
 
    position: absolute;
   
}
.group3{
    width: 100px;
    height: 50px;
    margin-left:150px;
}
.child50{
    width: 100%;
height: 20px;

display: flex;
justify-content: center;
align-items: center;

}
.hhd{
    
}
.child51{
    color:#838696 ;
  
    font-size: 12px;
}
.child53{
    width: 100%;
    height: 40px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 120PX;
}
.child54{
    width: 200px;
    height: 230px;
    border-radius: 14px;
    background-color:#ECECFE ;
}
.child55{
    width: 20px;
    height: 20px;
    background-color: #651FFF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    
}
.ddd{
  width: fit-content;
  font-size: 10px;
  margin-top: 15px;
}
.child57{
    width: 80%;
    height: 60%;
    
    padding-left: 5px;
}
.child660{
    width: 100%;
    height: 600px;
    margin-top: 100px;
    display: flex;
    padding-left: 10%;

}
.child61{
    width: 50%;
    height: 100%;
   
    
}
.child62{
    width: 100%;
    height: 30%;

}
.child25{
    color:#838696 ;
    width:70%;
   
    font-size: 10px;

}
.child26{
    font-size: 20px;
    font-weight: 100;

}
.child65{
    width: 100%;
    height: 30%;
gap: 20px;
 display: flex;
}

.child66{
    width: 60%;
    height: 100%;
    
  
}
.child68{
    background-color: #651FFF;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child67{
    width: 40%;
    height: 100%;
   

}
.ve{
    width: 300px;
}
.child70{
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}
.child0{
    width: 100%;
    height: 120px;
 justify-content: center;
    display: flex;
  margin-bottom: 50px;
 
    

}
.child-1{
    padding-left: 50PX;
    width: 100%;
   height: 100%;
   display: flex;
  flex-direction: column;
    
}
.child-4{
    width: 100px;
    height: 50px;
    background-color: #651FFF;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  
}

.a1{
    color: white;
    text-decoration: none;
    font-size: 10px;
}
.child-5{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child-7{
    width: 100%;
    height: 87px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
}
.child-11{
    background-color: #E0F7FA;
    border-radius: 14px;
    width: 230px;
    height: 210px;
    padding: 10px;
}
.child-9{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00E5FF;
}
.pen1{
    width: 10px;
    height: 10px;
}
.color1{
    color: #00E5FF;
    font-size: 20px;
    font-weight: 300;
  
   
}
.color2{
    color: #00E5FF ;
    font-size: 10px;
}
.color3{
    color: #00E5FF ;
    text-decoration: none;
    font-size: 10px;
}
.color3:hover{
    text-decoration: underline;
}
.-child{
    width: 230px;
    height: 210px;
    background-color: #ECECFE;
    border-radius: 14PX;
    padding: 10PX;
}
.-child1{
background-color: #651FFF;
width: 20px;
height: 20px;
border-radius: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.-child1{
    background-color: #651FFF;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .-child2{
    color: #651FFF;
    font-size: 20px;
    font-weight: 300;
    }
    .-child3{
        color: #651FFF;
      
        font-size: 10px;
    }
    .-child4{
        color: #651FFF;
        text-decoration: none;
        font-size: 10px;
        text-decoration: none;
    
    }
    .-child4:hover{
        text-decoration: underline;
    
    }
    .footer1{
        background-color: #1A284E;
        width: 100%;
        height:100%;
       margin-top: 50px;
        display: flex;
        align-items: center;
    }
    .footer2{
        width: 30%;
        height: 100%;
        
        
        
    }
    .footer3{
        color: white;
        font-size: 20px;
    }
    .footer4{
        color: white;
        font-size: 18px;
    }
    .footer5{
      width: 220px;
      height: 60px;
    }
    .footer6{
        color: white;
      
    }
    .footer6{
        color: white;
        font-size: 18px;
    }
    .footer7{
    width: 50%;
    height: 100%;
   margin-left: 60px;
    display: flex;
    margin-bottom: 110px;
    gap: 20px;
    
    }
    .footer8{
       width: 50%; 
       height: 100%;
     
       
       
       
    }
    .xc{
        text-decoration: none;
        color: white;
        display: block;
        font-size: 18px;
       
    }
    
}
@media (min-width: 921px) and (max-width: 1300px) {
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .formm{
        width: 70%;
        height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
        margin-top: 100px;
        margin-left: 14%;
        border-radius: 14px;
        background-color: #651FFF;

    }
    .formm{
        width: 70%;
        height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
        margin-top: 100px;
        margin-left: 14%;
        border-radius: 14px;
        background-color: #651FFF;

    }
    .child-11:hover{
        scale: 0.9;
        transition: 0.5s;
    }
    .-child:hover{
        scale: 0.9;
        transition: 0.5s;
    }
    .child54:hover{
        scale: 0.9;
        transition: 0.5s;
    }
    .child21:hover{
        scale: 0.9;
        transition: 0.5s;
    }
    .child-4:active{
        scale: 1.1
        ;
        transition: 0.5s;
    }
    .z20:hover{
        scale: 1.2;
        transition: 0.5s;
    }
    .z21:hover{
        scale: 1.2;
        transition: 0.5s;
    }
    .child8:hover{
        color: #651FFF;
        transition: 0.5s;
    }
    .z8:hover{
        scale: 1.1;
        transition: 0.2s;
    }
    .z6:hover{
        scale: 1.1;
        transition: 0.2s;
    }
    .header1{
        width: 100%;
        height: 40px;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        
    }
    .z1{
        height: 100%;
        width: 30%;
        box-sizing: border-box;
     
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .z2{
        width: 80%;
        object-fit: cover;
    
    }
    .z3{
        width: 100%;
        height: 80%;
        
gap: 15px;
align-items: center;
display: flex;
       
    }
    .child8{
        color: #838696;
        text-decoration: none;
        font-size: 12px;
        vertical-align: middle;
    }
    .z6{
        width: 10%;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid black 2px;
        border-radius: 12px;
    }
    .z7{
        text-decoration: none;
        color: black;
        font-size: 12px;
    }
    .z8{
        width: 10%;
        height: 20px;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #651FFF;
    }
    .z9{
        text-decoration: none;
        color: white;
        font-size: 8px;
    }
    .z11{
        width: 100%;
        height: 350px;
        background-image: url(Group\ \(2\).png);
        display: flex;
    }
    .z12{
        width: 35%;
        height: 100%;
       
       padding-top: 5%;
    }
    .z13{
        font-size: 30px;
        color: white;
    }
    .span1{
        color: #00E5FF;
    }
    .child00{
        color: #838696;
        text-decoration: none;
        font-size: 12px;
    }
    
    .z19{
        width: 100%;
        height: 48px;
        display: flex;
        gap: 10px;
        }
        .z21{
            width: 40%;
            height: 40%;
            border-radius: 12px;
           border: solid white 2px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .z23{
            text-decoration: none;
           color: white;
    font-size: 8px;
            text-decoration: none;
        }
        .z20{
            width: 40%;
            height: 40%;
            border-radius: 12px;
            background-color: #651FFF;
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid #651FFF 2px; 
        }
.z99{
    color: white;
    font-size: 12px;
    text-decoration: none;
}
.a4{
    margin-left: 200px;
}
.div1{
    box-sizing: border-box;
    width: 100%;
    height: 80px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   padding-left: 5%;
   
    margin-top: 30px;
}
.chilld1{
font-size: 30px;
}
.child2{
color: #5C5F6E;
font-size: 15px;
}
.div2{
    box-sizing: border-box;
    width: 100%;
    height: 200px;
   justify-content: center;
    display: grid;
    grid-template-rows:240px 500px ;
    grid-template-columns:320px  320px ;
    gap: 20px;
    
    
}
.child3{
    padding: 10px;
    width: 320px;
    height: 250px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.307);
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    background-color: #eeeff4;
}
.child0000{
    font-size: 8px;
}

.child5{
    padding: 10px;
    width: 320px;
    height: 500px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.307);
  flex-direction: column;
    display: flex;
    gap: 10px;
    background-color: #eeeff4;
}
.child4{
    padding: 10px;
    width: 320px;
    height: 250px;
    border-radius: 12px;
    background-color: #eeeff4;
    grid-row: 2;
    grid-column: 1;
    display: flex;
    
}
.child6{
    width: 50%;
    height: 100%;
}
.child7{
    font-size: 20px;
    font-weight: 100;
 
}
.child85{
    color: #838696;
    font-size: 7px;
}
.child9{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
  
    
    
}

  .imgt5{
    width: 100%;
   
      
   
  }
.img1{
    
    object-fit: contain;
    width: 100%;
    height: 100%;
    
    
}
.img3{
    width: 100%;
    object-fit: contain;

}
.child11{

    width: 90%
    ;
height: 100%;
display: flex;
align-items: center;

}
.child0000{
    color: #838696;
    text-decoration: none;
    font-size: 7px;
    
}
.child00000{
    color: #838696;
    text-decoration: none;
    font-size: 7px;
}
.child10{
    display: flex;
    flex-direction: column;
    padding-top: 20%;
}
.child16{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 350px;
}  
.child20{
    width: 100%;
    display: flex;
    justify-content: center;
   
}
.child19{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 400px;
    gap: 10px;

}
.child18{
         
    color:#838696 ;

font-size: 10px;
}
.child21{
    width: 240px;
    height: 350px;
    padding-left: 10px;

    background-color: #ECECFE ;
    border-radius: 24px;
    

    

   
}
.div22{
padding:5px;


}
.child25{
    color:#838696 ;
    width:70%;
   
    font-size: 8px;

}
.child26{
    font-size: 13px;
    font-weight: 100;

}
.img66{
    width: 100%;
    object-fit: contain;
    height: 70%;
}
.child38{
    width:100%;
   height: 50px;


    display: flex;
    justify-content: center;
    align-items: center;
    

}
.child41{
    width: 100%;
    margin-top: 100px;
    height: 400px;
justify-content: center;
    display: flex;
    gap: 50px;
   
    
}

.child42{
    width: 30%;
    height: 100%;
    margin-left: 20px;

   
}
.child43{
    width: 100%;
    height: 30%;
    
    
}
.child45{
    width: 100%;
    height: 40%;
    display: flex;
   
    align-items: center;
    gap: 20px;

}
.child44{
    width: 20px;
    height: 20px;

    background-color: #651FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.img50{
    width: 20px;
    height: 20px;

}
.child7{
    font-size: 20px;
    font-weight: 300;
 
}
.child8{
    color: #838696;
    text-decoration: none;
}
.group1{
    margin-left: 0px;
    width: 130px;

   
 height: 60%;
    z-index: 1;
  position: absolute;
}
.group2{
    
   margin-top: 150px;
   width:270px;
   height: 150px;

margin-top: 220px;
  
   margin-left: 40px;

  
  z-index: 2;
 
    position: absolute;
   
}
.group3{
    width: 200px;
    height: 100px;
    margin-left:150px;
}
.child50{
    width: 100%;
height: 20px;

display: flex;
justify-content: center;
align-items: center;

}
.hhd{
    
}
.child51{
    color:#838696 ;
  
    font-size: 12px;
}
.child53{
    width: 100%;
    height: 40px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 120PX;
}
.child54{
    width: 200px;
    height: 230px;
    border-radius: 14px;
    background-color:#ECECFE ;
}
.child55{
    width: 20px;
    height: 20px;
    background-color: #651FFF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    
}
.ddd{
  width: fit-content;
  font-size: 10px;
  margin-top: 15px;
}
.child57{
    width: 80%;
    height: 60%;
    
    padding-left: 5px;
}
.child660{
    width: 100%;
    height: 600px;
    margin-top: 100px;
    display: flex;
    padding-left: 10%;

}
.child61{
    width: 50%;
    height: 100%;
   
    
}
.child62{
    width: 100%;
    height: 30%;

}
.child25{
    color:#838696 ;
    width:70%;
   
    font-size: 10px;

}
.child26{
    font-size: 20px;
    font-weight: 100;

}
.child65{
    width: 100%;
    height: 30%;
gap: 20px;
 display: flex;
}

.child66{
    width: 60%;
    height: 100%;
    
  
}
.child68{
    background-color: #651FFF;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child67{
    width: 40%;
    height: 100%;
   

}
.ve{
    width: 300px;
}
.child70{
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}
.child0{
    width: 100%;
    height: 120px;
 justify-content: center;
    display: flex;
  margin-bottom: 50px;
 
    

}
.child-1{
    padding-left: 50PX;
    width: 100%;
   height: 100%;
   display: flex;
  flex-direction: column;
    
}
.child-4{
    width: 100px;
    height: 50px;
    background-color: #651FFF;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  
}

.a1{
    color: white;
    text-decoration: none;
    font-size: 10px;
}
.child-5{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child-7{
    width: 100%;
    height: 87px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
}
.child-11{
    background-color: #E0F7FA;
    border-radius: 14px;
    width: 330px;
    height: 200px;
    padding: 10px;
}
.child-9{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00E5FF;
}
.pen1{
    width: 10px;
    height: 10px;
}
.color1{
    color: #00E5FF;
    font-size: 20px;
    font-weight: 300;
  
   
}
.color2{
    color: #00E5FF ;
    font-size: 10px;
}
.color3{
    color: #00E5FF ;
    text-decoration: none;
    font-size: 10px;
}
.color3:hover{
    text-decoration: underline;
}
.-child{
    width: 330px;
    height: 200px;
    background-color: #ECECFE;
    border-radius: 14PX;
    padding: 10PX;
}
.-child1{
background-color: #651FFF;
width: 20px;
height: 20px;
border-radius: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.-child1{
    background-color: #651FFF;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .-child2{
    color: #651FFF;
    font-size: 20px;
    font-weight: 300;
    }
    .-child3{
        color: #651FFF;
      
        font-size: 10px;
    }
    .-child4{
        color: #651FFF;
        text-decoration: none;
        font-size: 10px;
        text-decoration: none;
    
    }
    .-child4:hover{
        text-decoration: underline;
    
    }
    .footer1{
        background-color: #1A284E;
        width: 100%;
        height:100%;
       margin-top: 50px;
        display: flex;
        align-items: center;
    }
    .footer2{
        width: 30%;
        height: 100%;
        
        
        
    }
    .footer3{
        color: white;
        font-size: 20px;
    }
    .footer4{
        color: white;
        font-size: 18px;
    }
    .footer5{
      width: 220px;
      height: 60px;
    }
    .footer6{
        color: white;
      
    }
    .footer6{
        color: white;
        font-size: 18px;
    }
    .footer7{
    width: 50%;
    height: 100%;
   margin-left: 60px;
    display: flex;
    margin-bottom: 110px;
    gap: 20px;
    
    }
    .footer8{
       width: 50%; 
       height: 100%;
     
       
       
       
    }
    .xc{
        text-decoration: none;
        color: white;
        display: block;
        font-size: 18px;
       
    }
    
}
